body{
font-family:Arial;
background:linear-gradient(135deg,#4facfe,#00f2fe);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{

backdrop-filter:blur(10px);
background:rgba(255,255,255,0.2);
border-radius:15px;
padding:40px;
width:450px;
box-shadow:0 10px 40px rgba(0,0,0,0.2);
animation:fade 1s;

}

input,select{

width:100%;
padding:10px;
margin:10px 0;
border-radius:6px;
border:none;

}

button{

width:100%;
padding:12px;
background:#4facfe;
border:none;
color:white;
font-size:16px;
border-radius:6px;
cursor:pointer;
transition:.3s;

}

button:hover{

transform:scale(1.05);
background:#007bff;

}

.result{

margin-top:20px;
font-size:24px;
font-weight:bold;
text-align:center;

}

.loader{

display:none;
border:6px solid #f3f3f3;
border-top:6px solid #4facfe;
border-radius:50%;
width:40px;
height:40px;
animation:spin 1s linear infinite;
margin:20px auto;

}

@keyframes spin{

0%{transform:rotate(0)}
100%{transform:rotate(360deg)}

}

.dark{

background:#121212;
color:white;

}

@keyframes fade{

from{opacity:0;transform:translateY(30px)}
to{opacity:1;transform:translateY(0)}

}